
/* Our default values set as CSS variables */
:root {
    --color-bg: #ffffff;
    --color-text-main: #000000;
    --color-primary: #FFFF00;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  }
  
  /* Basic page style resets */
  * {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }
  
  /* Import fonts */
  @font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
      format("opentype");
  }
  @font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
      format("opentype");
  }

  body {
    font-family: HK Grotesk, Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 80vh;
    touch-action: pan-left, pan-right, pan-up, pan-down;
    padding-left: 10vw;
    padding-right: 25vw;
  }
  
  canvas {
    width: 20vw !important;
    height: 20vw !important;
    border-radius: 50%;
    clip-path: circle(calc(50% - 1px));
    image-rendering: crisp-edges;
  }

  .navBar{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size:xx-large;
  }

  .navBar *{
    margin-top: 10%;
  }

  
  .navBar *:hover{
    cursor: pointer;
  }

  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(1.1); }
  
  a {
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    position: relative;
  }
  
  a::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  a:hover::before {
    bottom: 0;
    height: 100%;
  }